<div class="p-3 mt-3">
<form action="/answer" data-turbo="false">
  <p class= "mb-1">Ask your coach anything</p>
  <input type="text" name="question" placeholder="What do you want to ask me?" class="input-group mb-1">
  <input type="submit" value="Ask!" button type="button" class="btn btn-primary">
</form>
